.button {
    display: inline-block;
        background-color: #7b38d8;
        border: none;
        padding: 1px 10px;
        border-radius: 3px;
        color: #ffffff;
        text-align: center;
        font-size: 30px;
        font-family: "Times New Roman", Times, serif;
        cursor: pointer;
        margin-top: -5em;
        margin-left: 17em;
  }

  
  